.Header{
    position: fixed;
    height: 56px;
    background-color: #555555;
    width: 100%;
    display: flex;
    justify-content: right;
}
.Header ul{
    padding: 0 50px; 
    list-style: none;
}
.Header ul li i{
    line-height: 56px;
    color: white;
    cursor: pointer;
}
.Header ul li i:hover{
    color: rgba(255, 255, 255, 0.8);
}
.BurgerIcon{
    display: none;
}
@media(max-width: 1200px){
    .Header{
        justify-content: space-between;
    }
    .BurgerIcon{
        display: block;
    }
}