.Sidebar{
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: white;
    border-right: 1px solid rgb(233, 233, 233);
    top: 0px;
    left: 0px;
    transition: all 0.5s ease-out;
    z-index: 60;
}
.LogoContainer{
    border-bottom: 1px solid rgb(233, 233, 233);
    width: 300px;
}
.LogoContainer p{
    text-align: center;
    padding: 0px 20px;
    padding-bottom: 10px;
    font-size: 0.8em;
}
.Logo{
    padding-top: 30px;
    padding-bottom: 10px;
    width: 50%;
    margin: auto;
}
.Logo img{
    width: 100%;
}
.Sidebar ul{
    margin: 0px;
    padding: 0px;
}
