.OrderSummary{
    position: fixed;
    top: 80px;
    right: 20px;
    width: 330px;
    background-color: white;
    height: 85vh;
    text-align: center;
    padding: 20px;
}
.OrderItems{
    text-align: right;
    padding: 10px 30px;;
    margin: auto;
    border: 1px solid rgb(233, 233, 233);
    box-sizing: border-box;
    margin-bottom: 5px;
    max-height: 38%;
    overflow: auto;
}
.EmptyCart{
    width: 80%;
    margin: auto;
    padding: 30px;
}
.EmptyCart img{
    width: 100%;
}

@media(max-width: 850px){
    .EmptyCart{
        width: 8%;
        margin: auto;
        margin-top: -10px;
        margin-bottom: 5px;
        padding: 0px;
    }
    .OrderSummary{
        border-top: 2px solid rgb(233, 233, 233);
        position: fixed;
        height: 41vh;
        width: 100%;
        bottom: 0px;
        left: 0px;
        top: 100vh;
        transform: translateY(-41vh);
    }
    .OrderItems{
         max-height: 21%;
        overflow: auto;
    }
}