.EveningBeverage{
    text-align: center;
    margin-top: 50px; 
    padding-bottom: 20px;     
}
.Icon{
    width: 40%;
    margin: auto;
}
.Icon img{
    width: 100%;
}
.EveningBeverage select{
    width: 80%;
    padding: 10px;
    margin-top: 5px;
}
.EveningBeverage select option{
    width: 80%;
    padding: 10px;
}